@import "variables.less";

@media (max-width: 480px) {
    .section-common {
        height: auto;
        padding-top: 30px;
    }
    
    #header {
        .big-header {
            .main {
                .literature {
                    .register-form {
                        width: 285px;
                    }
                }
            }
        }
    }
    
    #introduction {
        > header  {
            height: 220px;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            > .decorate {
                margin-bottom: 15px;
            }
            
            > .literature {
                margin: 0;
                padding: 0 15px;
                text-align: center;
            }
        }
    }
    
    #why-us {
        > .literature {
            .features {
                > .item {
                    > .decorate {
                        width: 50px;
                        height: 50px;
                        background-size: 22px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 680px) {
    #header {
        .header-secondary-top {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            height: auto !important;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            .navigation {
                margin: 5px 0;
                .nav-main {
                    .nav-main-link {
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
        
        .big-header {
            &.big-header-about {
                .main {
                    padding-top: 30px;
                }
            }
        }
    }
    
    #header {
        height: auto;
        max-height: none;
    }
    
    #introduction {
        &.introduction-about {
            > .primary {
                .content {
                    max-width: 300px;
                }
            }
        }
    }
    
    #characters {
        > .primary {
            .content {
                .item-container {
                    > .item {
                        margin: 5px;
                    }
                }
            }
            
            .prom {
                text-align: center;
            }
        }
    }
    
    #news {
        .primary {
            > header {
                width: 360px !important;
                margin-left: auto;
                margin-right: auto;
                .quick {
                    display: none;
                }
                .search-container {
                    -webkit-flex-grow: 1;
                    flex-grow: 1;
                    .search-box {
                        width: auto;
                        -webkit-flex-grow: 1;
                        flex-grow: 1;
                    }
                }
            }
            
            > .content {
                .small {
                    > .item-container {
                        > .item {
                            > .literature {
                                max-width: 170px;
                            }
                        }
                    }
                }
                .ct-first {
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    -webkit-align-items: center;
                    align-items: center;
                    .big {
                        margin-bottom: 30px;
                        .item-container {
                            .item {
                                > * {
                                    width: 360px;
                                }
                                .media {
                                    height: 198px;
                                }
                            }
                        }
                    }
                    .label-likely {
                        margin: 0;
                        width: 360px !important;
                    }
                }
                .ct-second {
                    -webkit-align-items: center;
                    align-items: center;
                    .normal {
                        width: 360px !important;
                        .item-container {
                            -webkit-flex-flow: column nowrap;
                            flex-flow: column nowrap;
                            -webkit-align-items: center;
                            align-items: center;
                            > .item {
                                &:last-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .ct-third {
                    > * {
                        width: 360px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #header {
        .header-top {
            .navigation {
                margin: 0 0 5px 0;
                .nav-main {
                    .nav-main-link {
                        margin: 0 10px 0 0;
                    }
                }
            }
            padding: 0;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .big-header {
            .main {
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                > .decorate {
                    display: none;
                }
                > .literature {
                    margin: 0 !important;
                    padding: 30px 0 !important;
                    -webkit-justify-content: center;
                    justify-content: center;
                    .social {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    
    #introduction {
        > .primary {
            padding: 30px 7% 0 7%;
            .features {
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                .item {
                    margin-bottom: 30px;
                    p {
                        max-width: none;
                    }
                }
                .item.accent {
                    margin: 0 0 30px 0 !important;
                }
            }
        }
    }
    
    #why-us {
        padding: 30px 7%;
        > .decorate {
            display: none;
        }
        
        > .literature {
            .features {
                margin-top: 30px;
            }
        }
    }
    
    #news {
        .primary {
            min-width: 0;
            > header {
                width: 490px;
                margin-left: auto;
                margin-right: auto;
                .quick {
                    display: none;
                }
                .search-container {
                    -webkit-flex-grow: 1;
                    flex-grow: 1;
                    .search-box {
                        width: auto;
                        -webkit-flex-grow: 1;
                        flex-grow: 1;
                    }
                }
            }
            
            > .content {
                .ct-first {
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    -webkit-align-items: center;
                    align-items: center;
                    .big {
                        margin-bottom: 30px;
                    }
                    .label-likely {
                        margin: 0;
                        width: 490px;
                    }
                }
                .ct-second {
                    -webkit-align-items: center;
                    align-items: center;
                    .normal {
                        width: 490px;
                        .item-container {
                            > .item {
                                &:last-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .ct-third {
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    -webkit-align-items: center;
                    align-items: center;
                    > * {
                        width: 490px;
                    }
                    .label-likely {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    #final-decoration, #final-decoration-con {
        display: none;
    }
    
    #footer {
        .app-download {
            -webkit-justify-content: center;
            justify-content: center;
        }
        .primary {
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-align-items: center;
            align-items: center;
            .brand {
                margin: 10px 0 30px 0;
                -wekbit-align-self: center !important;
                align-self: center !important;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-align-items: center;
                align-items: center;
            }
            
            .language {
                margin: 30px 0;
                -webkit-align-self: center !important;
                align-self: center !important;
                text-align: center;
            }
            
            .social {
                align-self: center !important;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1100px) {
    #header {
        .big-header {
            .main {
                > .decorate {
                    width: 400px;
                }
                > .literature {
                    margin: 0 0 0 60px;
                }
            }
        }
    }
    #introduction {
        padding-bottom: 30px;
        height: auto;
        max-height: none;
        > .primary {
            padding-top: 30px;
        }
    }

    #why-us {
        > .decorate {
            width: 400px;
        }
    }
    
    #final-decoration {
        width: 400px;
    }
    
    #footer {
        padding: 30px 5% !important;
        height: auto;
        .primary {
            .brand {
                -webkit-align-self: flex-end;
                align-self: flex-end;
            }
            .language {
                -webkit-align-self: flex-end;
                align-self: flex-end;
            }
            .social {
                
            }
            .menu {
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-align-items: center;
                align-items: center;
                .item {
                    display: -webkit-flex;
                    display: flex;
                    -wbkit-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                    > * {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    #final-decoration {
        right: 5%;
    }
}

@media (max-width: 1280px) {
    .section-common {
        > .primary {
            padding: 0 5%;
        }
    }
    
    #header {
        .big-header {
            .main {
                > .literature {
                    margin: 0 0 0 80px;
                }
            }
        }
    }
    
    #header {
        .header-secondary-top {
            padding: 0 5%;
        }
    }
    
    #why-us {
        height: auto;
        max-height: none;
    }
    
    #news {
        .ads {
            display: none;
        }
    }
    
    #footer {
        padding: 0 5%;
    }
}

@media (min-width: 1550px) {
    #final-decoration {
        right: 10%;
    }
}