@import "variables.less";

#search-toggle {
    display: none;
}
.header-top {
    #search-toggle:checked + .search-container {
        width: 100%;
        .search-box {
            display: block !important;
        }
        .search-button {
            background-color: @secondary-color !important;
        }
    }
}
.header-secondary-top {
    #search-toggle:checked + .search-container {
        width: 100%;
        .search-box {
            display: block !important;
            background-color: #f2f2f2;
        }
        .search-button {
            background-color: #cccccc;
        }
    }
}