@import "variables.less";

.btn.small, input[type='text'].small {
    height: @small-height;
}

.btn.normal, input[type='text'].normal {
    height: @normal-height;
}

.btn.large, input[type='text'].large {
    height: @large-height;
}

.btn.huge, input[type='text'].huge {
    height: @huge-height;
}

.btn.round {
    border-radius: 2px;
}

.btn.pipe.primary {
    border: solid 2px @primary-color;
    color: @primary-color;
    background: transparent;
    &:active {
        opacity: .9;
        background-color: transparent;
    }
}

.btn.pipe.round {
    border-radius: 5px;
}

.btn.transparent {
    background: transparent;
}

.btn.transparent.bright {
    color: white;
}

.btn.transparent.dark {
    color: inherit;
}

.btn.primary {
    background-color: @primary-color;
    color: white;
    &:active {
        background-color: lighten(color(@primary-color), 5%);
    }
}

.btn.accent {
    background-color: @accent-color;
    color: white;
    &:active {
        background-color: lighten(color(@accent-color), 5%);
    }
}

.tag {
    padding: 0 15px;
    margin: 0 2px;
    display: inline-block;
    height: @tag-height;
    line-height: @tag-height;
    background-color: @primary-background-color;
    color: white;
    border-bottom: solid 4px @primary-dark-background-color;
    &:hover {
        background-color: @secondary-background-color;
    }
}

.search-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    .search-box {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        padding: 0 15px;
    }
    .search-button {
        width: @normal-height;
        background: url(../assets/icons/search.png) no-repeat;
        background-size: 15px;
        background-position: center center;
        background-color: @primary-color;
        &:hover {
            background-color: @secondary-color;
        }
    }
}

#header {
    .header-top, .header-secondary-top {
        padding: 0 100px 15px 0;
        background-color: @primary-background-color;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        .navigation {
            margin: 0 30px 0 0;
            .nav-main {
                margin: 0 30px 0 0;
                -webkit-flex-grow: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
                -webkit-align-items: center;
                align-items: center;
                .nav-main-link {
                    margin: 0 30px 0 0;
                    color: white;
                    font-weight: 600;
                    &:link {
                        color: white;
                    }
                }
            }
            .search-container {
                .search-box {
                    display: none;
                    padding: 0 15px;
                }
                .search-button {
                    width: @normal-height;
                    background: url(../assets/icons/search.png) no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    &:hover {
                        background-color: @secondary-color;
                    }
                }
            }
        }
    }
    
    .header-secondary-top {
        padding: 0 100px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        background-color: white;
        .logo-container {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            .logo {
                width: 42px;
                height: 42px;
                border: dashed 2px #cccccc;
                background-color: #e6e6e6;
            }
        }
        .navigation {
            .nav-main {
                .nav-main-link {
                    color: #4d4d4d;
                    &:link {
                        color: #4d4d4d;
                    }
                }
            }
            .search-container {
                .search-button {
                    background: url(../assets/icons/search-dark.png) no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    &:hover {
                        background-color: #e6e6e6;
                    }
                }
            }
        }
    }
    
    .big-header {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        background-color: @primary-background-color;
        .background {
            height: 100%;
            width: 100%;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: stretch;
            align-items: stretch;
            .left, .right {
                -webkit-flex-grow: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
            }
            .left {
                background-color: @primary-background-color;
            }
            .right {
                background-color: @primary-dark-background-color;
            }
        }
        .canvas {
            background: url(../assets/patterns/big-header.svg) no-repeat;
            background-size: auto 100%;
            background-position: center top;
            overflow: hidden;
        }
        .main {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            -webkit-flex-shrink: 1;
            flex-shrink: 1;
            -webkit-justify-content: center;
            justify-content: center;
            > .decorate {
                width: 630px;
                -webkit-flex-grow: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 2;
                flex-shrink: 2;
                background: url(../assets/media/medic.png) no-repeat;
                background-size: 100% auto;
                background-position: bottom left;
            }
            > .literature {
                margin: 0 0 0 160px;
                padding: 120px 0 30px 0;
                -webkit-flex-grow: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                .register-form {
                    -webkit-align-items: stretch;
                    align-items: stretch;
                    header {
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                        -webkit-align-items: center;
                        align-items: center;
                        > .literature {
                            color: white;
                            .title {
                                font-size: 24px;
                                font-weight: 600;
                            }
                        }
                        .logo {
                            width: 50px;
                            height: 50px;
                            background-color: #d6d6d6;
                            border: dashed 2px #999999;
                        }
                    }
                    .primary {
                        color: white;
                        margin: 15px 0 0 0;
                        input[type='text'] {
                            color: #4d4d4d;
                            padding: 0 15px;
                            margin-top: 15px;
                            font-weight: 600;
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
                            border-radius: 2px;
                        }
                        .btn {
                            margin: 30px 0 15px 0;
                            font-weight: 600;
                            font-size: 18px;
                        }
                    }
                }
                .social {
                    text-align: center;
                    font-size: 24px;
                    color: white;
                    > * {
                        margin-left: 5px;
                    }
                }
            }
        }
        
        &.big-header-about {
            background-image: url(../assets/media/we.png);
            background-size: auto 100%;
            /*background-repeat: no-repeat;*/
            background-position: top center;
            .main {
                -webkit-justify-content: flex-end;
                justify-content: flex-end;
                padding: 0 10% 90px 10%;
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                color: white;
                text-align: center;
                .title {
                    margin-bottom: 10px;
                    font-size: 60px;
                    font-weight: 100;
                }
                .sub-title {
                    margin-bottom: 30px;
                    opacity: .7;
                    font-size: 21px;
                }
                .content {
                    font-size: 16px;
                }
                .brand {
                    margin-top: 15px;
                    font-style: italic;
                    opacity: .7;
                }
            }
        }
    }
    
    &.short {
        border-bottom: solid 1px @border-color;
    }
}

#introduction, .section-common {
    -webkit-align-items: center;
    align-items: center;
    border-bottom: solid 1px @border-color;
    > header {
        -webkit-align-self: stretch;
        align-self: stretch;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: solid 1px @border-color;
        > .decorate {
            width: 77px;
            height: 77px;
            border: solid 1px #cccccc;
            background: url(../assets/icons/microscope.png) no-repeat;
            background-size: 38px 53px;
            background-position: center center;
        }
        > .literature {
            margin-left: 15px;
            a, a:link {
                color: @link-color;
            }
            a:hover {
                text-decoration: underline;
            }
            h3 {
                font-weight: 600;
            }
            p {
                max-width: 365px;
            }
        }        
    }
    > .primary {
        padding: 0 170px;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        > .title {
            margin-bottom: 5px;
            text-align: center;
            font-size: 36px;            
        }
        > .subtitle {
            font-size: 18px;
            text-align: center;
            max-width: 600px;
        }
        > .decorate {
            margin: 92px 0 0 0;
            width: 100%;
            height: 135px;
            background: url(../assets/icons/heart-beat.png);
            background-repeat: repeat-x;
            background-size: 205px 135px;
            background-position: 50%;
        }
        .features {
            margin: 30px 0 0 0;
            .item {
                &.accent {
                    margin: 0 30px;
                    > header {
                        color: @accent-color;
                    }
                }
                &.primary {
                    > header {
                        color: @primary-background-color;
                    }
                }
                &.primary-dark {
                    > header {
                        color: @primary-dark-background-color;
                    }
                }
                > header {
                    margin-bottom: 5px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                    -webkit-align-items: center;
                    align-items: center;
                    .fa {
                        font-size: 64px;
                    }
                    .title {
                        margin: 0 15px 0 0;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
                p {
                    font-size: 16px;
                    max-width: 318px;
                }
            }
        }
    }
    &.introduction-about {
        padding: 60px 0;
        > .primary {
            margin-top: -40px;
            .content {
                margin-top: 45px;                
                position: relative;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-justify-content: space-between; 
                justify-content: space-between; 
                max-width: 757px;
                background-color: #f2f2f2;
                border-top: solid 1px @border-color;
                > .literature {
                    margin-left: -36px;
                    padding-right: 30px;
                    .item-container {
                        > .item {
                            margin: 60px 0;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-flex-flow: row nowrap;
                            flex-flow: row nowrap;
                            -webkit-justify-content: flex-start;
                            justify-content: flex-start;
                            -webkit-align-items: center;
                            align-items: center;
                            > .decoration {
                                margin-right: 20px;
                                display: -webkit-flex;
                                display: flex;
                                -webkit-align-items: center;
                                align-items: center;
                                -webkit-justify-content: center;
                                justify-content: center;
                                -webkit-flex-grow: 0;
                                flex-grow: 0;
                                -webkit-flex-shrink: 0;
                                flex-shrink: 0;
                                width: 72px;
                                height: 72px;
                                -webkit-border-radius: 50%;
                                border-radius: 50%;
                                color: white;
                                font-weight: 600;
                                font-size: 18px;
                                background-color: @primary-dark-background-color;
                                -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
                                box-shadow: 2px 2px 4px rgba(0,0,0,.2);
                                cursor: pointer;
                            }
                            > .literature {
                                .title {
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                                p {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                > .decoration {
                    position: absolute;
                    bottom: -40px;
                    left: 0;
                    height: 40px;
                    width: 100%;
                    background: url(../assets/patterns/pamp-1.png) no-repeat;
                    background-size: 757px auto;
                    background-position: bottom left;
                    
                }
            }
        }
    }
}

#characters {
    padding: 45px 0;
    height: auto;
    > .primary {
        .prom {
            margin: 60px 0;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-align-items: center;
            align-items: center;
            .title {
                margin-bottom: 15px;
                font-size: 24px;
            }
            .btn {
                padding: 0 30px;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-align-items: center;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .content {           
            margin-top: 45px;
            .item-container {
                margin: 15px 0 30px 0;
                width: 100%;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                > .item {
                    margin: 5px 15px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    -webkit-align-items: center;
                    align-items: center;
                    > .decoration {
                        margin-bottom: 20px;
                        width: 120px;
                        height: 120px;
                        border: solid 1px @border-color;
                    }
                    > .literature {
                        text-align: center;
                        .title {
                            font-size: 21px;
                            font-weight: 600;
                        }
                        p {
                            max-width: 250px;
                        }
                    }
                    &.fst {
                        > .decoration {
                            background: url(../assets/media/character-fst.png) no-repeat;
                            background-size: auto 75px;
                            background-position: center center;
                        }
                    }
                    &.snd {
                        > .decoration {
                            background: url(../assets/media/character-snd.png) no-repeat;
                            background-size: auto 80px;
                            background-position: center center;
                        }
                    }
                    &.trd {
                        > .decoration {
                            background: url(../assets/media/character-trd.png) no-repeat;
                            background-size: auto 40px;
                            background-position: center center;
                        }
                    }
                    &.fth {
                        > .decoration {
                            background: url(../assets/media/character-fth.png) no-repeat;
                            background-size: auto 75px;
                            background-position: center center;
                        }
                    }
                    &.fith {
                        > .decoration {
                            background: url(../assets/media/character-fith.png) no-repeat;
                            background-size: auto 75px;
                            background-position: center center;
                        }
                    }
                    &.sth {
                        > .decoration {
                            background: url(../assets/media/character-sth.png) no-repeat;
                            background-size: auto 60px;
                            background-position: center center;
                        }
                    }
                }
            }
        }
    }
}

#why-us {
    margin: auto;
    padding: 80px 60px;
    -webkit-justify-content: center;
    justify-content: center;
    > .literature {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        > .title {
            color: @primary-color;
            font-size: 24px;
            font-weight: 600;
        }
        .features {
            margin-top: 60px;
            
            > .item {
                margin: 0 0 30px 0;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                
                
                &.time {
                    > .decorate {
                        background: url(../assets/icons/time.png) no-repeat;
                        background-size: 36px;
                        background-position: center center;
                    }
                }
                
                &.responsibility {
                    > .decorate {
                        background: url(../assets/icons/responsibility.png) no-repeat;
                        background-size: 36px;
                        background-position: center center;
                    }
                }
                
                &.accurate {
                    > .decorate {
                        background: url(../assets/icons/accurate.png) no-repeat;
                        background-size: 36px;
                        background-position: center center;
                    }
                }
                
                &.understanding {
                    > .decorate {
                        background: url(../assets/icons/understanding.png) no-repeat;
                        background-size: 36px;
                        background-position: center center;
                    }
                }
                
                > .decorate {
                    -webkit-flex-grow: 0;
                    flex-grow: 0;
                    -webkit-flex-shrink: 0;
                    flex-shrink: 0;
                    margin-right: 15px;
                    width: 70px;
                    height: 70px;
                    border: solid 1px @border-color;
                }
                > .literature {
                    .title {
                        color: @primary-color;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    .content {
                        max-width: 530px;
                        font-size: 16px;
                    }
                }
            }
        }
        .prom {
            padding-top: 30px;
            border-top: dashed 1px @border-color;
            > .content {
                margin-bottom: 20px;
                font-size: 16px;
                opacity: .7;
            }
            
            .btn {
                padding: 0 30px;
                height: 64px;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-align-items: center;
                align-items: center;
                > .decorate {
                    -webkit-flex-grow: 0;
                    flex-grow: 0;
                    -webkit-flex-shrink: 0;
                    flex-shrink: 0;
                    margin-right: 7px;
                    width: 27px;
                    height: 37px;
                    background: url(../assets/icons/account-1.png) no-repeat;
                    background-size: 70% auto;
                    background-position: center center;
                    border: solid 1px @primary-color;
                }
                
                > .literature {
                    font-size: 16px;
                    font-weight: 600;
                    color: @primary-color;
                }
            }
        }
    }
    > .decorate {
        width: 517px;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }
}

#final-decoration {
    position: absolute;
    right: 5%;
    bottom: 206px;
    width: 517px;
    height: 800px;
    display: block;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background: url(../assets/icons/stethoscope.png) no-repeat;
    background-size: 100% auto;
    background-position: left bottom;
    z-index: 1;
}

#news {
    margin: 30px 0;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .primary {
        min-width: 700px;
        > header {
            margin: 0 0 30px 0;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            .search-container {
                -webkit-flex-grow: 0;
                flex-grow: 0;
                .search-box {
                    width: 235px;
                    border: solid 1px @border-color;
                    border-right: none;
                }
            }
            .quick {
                margin-left: 30px;
                text-align: right;
                -webkit-flex-grow: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
            }
        }
        > .content {
            .item-container {
                display: -webkit-flex;
                display: flex;
                .item {
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                }
            }
            
            /* TODO: remove */
            .media {
                background-color: #f2f2f2;
                border: solid 4px @border-color;
            }
            .title {
                font-size: 18px;
                font-weight: 600;
                color: @primary-color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .label-likely {
                width: 230px;
                border: solid 1px @border-color;
                border-bottom: none;
                .item-container {
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    -webkit-align-items: stretch;
                    align-items: stretch;
                    .item {
                        padding: 0 15px;
                        height: 75px;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-flow: row nowrap;
                        flex-flow: row nowrap;
                        -webkit-align-items: center;
                        align-items: center;
                        border-bottom: dashed 1px @border-color;
                        .title {
                            font-weight: 400;
                            font-size: 14px;
                            color: #333333;
                            white-space: normal;
                            text-overflow: clip;
                        }
                        &:last-child {
                            border-bottom-style: solid;
                        }
                    }
                }
            }
            .brief {
                opacity: .7;
            }
            
            a, a:link {
                color: @primary-color;
                &:hover {
                    text-decoration: underline;
                }
            }
                                    
            .big {
                .item-container {
                    .item {
                        > * {
                            width: 490px;
                        }
                        .media {
                            height: 270px;
                        }
                        .literature {
                            margin-top: 15px;
                            .title {

                            }
                        }
                    }
                }
            }
            
            .normal {
                margin-top: 15px;
                .item-container {
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    .item {
                        margin-bottom: 10px;
                        > * {
                            width: 230px;
                        }
                        .media {
                            height: 140px;
                        }
                        .literature {
                            margin-top: 5px;
                        }
                    }
                }
            }
            
            .small {
                > .item-container {
                    -webkit-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    > .item {
                        margin-bottom: 15px;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-flow: row nowrap;
                        flex-flow: row nowrap;
                        -webkit-align-items: center;
                        align-items: center;
                        
                        > .media {
                            width: 160px;
                            height: 90px;
                        }
                        > .literature {
                            max-width: 300px;
                            margin-left: 15px;
                            .states {
                                margin-top: 5px;
                                .item-container {
                                    .item {
                                        margin-right: 30px;
                                        -webkit-flex-flow: row nowrap;
                                        flex-flow: row nowrap;
                                        > .decoration {
                                            margin-right: 5px;
                                            width: 30px;
                                            height: 15px;
                                            cursor: pointer;
                                            &.med {
                                                background: url(../assets/icons/med.png) no-repeat;
                                                background-size: auto 14px;
                                                background-position: center center;
                                            }
                                            &.view {
                                                background: url(../assets/icons/view.png) no-repeat;
                                                background-size: auto 14px;
                                                background-position: center center;
                                            }
                                        }
                                        
                                        &:last-child {
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .ct-first, .ct-second, .ct-third {
                position: relative;
                display: -webkit-flex;
                display: flex;
            }
            
            .ct-third {
                margin-top: 30px;
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                .label-likely {
                    margin-left: 30px;
                }
            }
            
            .ct-second {
                margin-top: 30px;
                -webkit-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-justify-content: flex-start;
                justify-content: flex-start;
            }
            
            .ct-first {
                -webkit-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-align-items: stretch;
                align-items: stretch;
                .label-likely {
                    margin-left: 30px;
                }
                .big {
                    display: -webkit-flex;
                    display: flex;
                    .item {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    
    .ads {
        margin-left: 45px;
        width: 370px;
        height: 1200px;
        border: solid 4px @border-color;
        background: #f2f2f2;
    }
}

#contact {
    .item-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        > .item {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;
        }
    }
    .separate {
        margin: 15px 0;
        width: 61px;
        height: 2px;
        border: solid 1px #333333;
    }
    
    > .primary {
        > .title {
            font-size: 24px;
            font-weight: 100;
        }
        > .subtitle {
            font-size: 18px;
            font-weight: 100;
        }
        .ways {
            margin: 45px 0 120px 0;
            > .item-container {                
                > .item {
                    margin: 10px 15px;
                    .decoration {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        border: solid 1px @primary-color;
                        background-position: center center;
                        background-size: auto 50px;
                        background-repeat: no-repeat;
                        
                        &.add {
                            background-image: url(../assets/icons/add.png);
                            background-size: auto 60px;
                        }
                        
                        &.ema {
                            background-image: url(../assets/icons/ema.png);
                        }
                        
                        &.pho {
                            background-image: url(../assets/icons/pho.png);
                        }
                        
                        &.soc {
                            background-image: url(../assets/icons/soc.png);
                        }
                    }
                    .literature {
                        margin-top: 10px;
                        > .title {
                            font-weight: 600;
                            font-size: 18px;
                        }
                        .content {
                            width: 168px;
                        }
                    }
                }
            }
        }
    }
    .final-decoration {
        position: absolute;
        bottom: -77px;
        left: 0;
        right: 0;
        margin: 0 auto;
        
        width: 259px;
        height: 154px;
        background: url(../assets/media/mash-med.png) no-repeat;
        background-position: center center;
        background-size: 100% auto;
        z-index: 1;
    }
}

#footer {
    padding: 0 10%;
    background-color: @footer-background-color;
    border-top: dashed 3px #dddddd;
    -webkit-justify-content: center;
    justify-content: center;
    .app-download {
        display: -webkit-flex;
        display: flex;
        .ios {
            background: url(../assets/icons/ios-app-download.png) no-repeat;
        }
        .android {
            background: url(../assets/icons/android-app-download.png) no-repeat;
        }
        .ios, .android {
            margin-right: 15px;
            width: 101px;
            height: 31px;
            background-size: 100% 100%;
            background-position: center center;
        }
    }
    .primary {
        margin: 30px 0 0 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        color: #f2f2f2;
        .brand {
            -webkit-flex-grow: 0;
            flex-grow: 0;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            .logo {
                margin-bottom: 7px;
                width: 35px;
                height: 35px;
                background-color: #dddddd;
                border: dashed 2px #999999;
            }
        }
        .language {
            margin: 0 15px;
            .title {
                margin-bottom: 5px;
            }
            select {
                color: #4d4d4d;
                height: @normal-height;
            }
        }
        .social {
            -webkit-align-self: flex-end;
            align-self: flex-end;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            font-size: 16px;
            > * {
                margin-right: 15px;
            }
        }
        .menu {
            margin: 0 30px;
            -webkit-flex-grow: 1;
            flex-grow: 1;
            -webkit-flex-shrink: 1;
            flex-shrink: 1;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            .item {
                a {
                    display: block;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .title {
                    margin-bottom: 5px;
                    font-weight: 600;
                }
            }
        }
    }
    z-index: -1;
}